# Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd
*.pdb

# Virtual environments
env/
venv/
ENV/
.venv/

# macOS system files
.DS_Store

# Uploaded files and generated content
uploads/
*.log

# Model weights or pretrained data
pretrained_ecapa/

# IDE or editor settings
.vscode/
.idea/

# Python package files
*.egg-info/
*.egg

# Other unnecessary stuff
*.sqlite3
*.db
